@font-face {
  font-family: "iconfont"; /* Project id 2917787 */
  src: url('iconfont.woff2?t=1636099720424') format('woff2'),
       url('iconfont.woff?t=1636099720424') format('woff'),
       url('iconfont.ttf?t=1636099720424') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai:before {
  content: "\e8a5";
}

.icon-g:before {
  content: "\e8a6";
}

.icon-adt:before {
  content: "\e8a7";
}

.icon-aac:before {
  content: "\e8a8";
}

.icon-aiff:before {
  content: "\e8a9";
}

.icon-amr:before {
  content: "\e8aa";
}

.icon-amiga:before {
  content: "\e8ab";
}

.icon-asf:before {
  content: "\e8ac";
}

.icon-arj:before {
  content: "\e8ad";
}

.icon-ape:before {
  content: "\e8ae";
}

.icon-au:before {
  content: "\e8af";
}

.icon-asx:before {
  content: "\e8b0";
}

.icon-asm:before {
  content: "\e8b1";
}

.icon-avc:before {
  content: "\e8b2";
}

.icon-gp:before {
  content: "\e8b3";
}

.icon-bat:before {
  content: "\e8b4";
}

.icon-avi:before {
  content: "\e8b5";
}

.icon-bak:before {
  content: "\e8b6";
}

.icon-bas:before {
  content: "\e8b7";
}

.icon-avs:before {
  content: "\e8b8";
}

.icon-c:before {
  content: "\e8b9";
}

.icon-bmp:before {
  content: "\e8ba";
}

.icon-bom:before {
  content: "\e8bb";
}

.icon-chm:before {
  content: "\e8bc";
}

.icon-csv:before {
  content: "\e8bd";
}

.icon-cda:before {
  content: "\e8be";
}

.icon-com:before {
  content: "\e8bf";
}

.icon-cdr:before {
  content: "\e8c0";
}

.icon-cmd:before {
  content: "\e8c1";
}

.icon-dif:before {
  content: "\e8c2";
}

.icon-dat:before {
  content: "\e8c3";
}

.icon-dll:before {
  content: "\e8c4";
}

.icon-ddb:before {
  content: "\e8c5";
}

.icon-doc:before {
  content: "\e8c6";
}

.icon-divx:before {
  content: "\e8c7";
}

.icon-dot:before {
  content: "\e8c8";
}

.icon-docm:before {
  content: "\e8c9";
}

.icon-docx:before {
  content: "\e8ca";
}

.icon-dsl:before {
  content: "\e8cb";
}

.icon-dotm:before {
  content: "\e8cc";
}

.icon-dotx:before {
  content: "\e8cd";
}

.icon-dvdaudio:before {
  content: "\e8ce";
}

.icon-dvd:before {
  content: "\e8cf";
}

.icon-dv:before {
  content: "\e8d0";
}

.icon-emf:before {
  content: "\e8d1";
}

.icon-exe:before {
  content: "\e8d2";
}

.icon-dxf:before {
  content: "\e8d3";
}

.icon-dwg:before {
  content: "\e8d4";
}

.icon-eps:before {
  content: "\e8d5";
}

.icon-eot:before {
  content: "\e8d6";
}

.icon-fv:before {
  content: "\e8d7";
}

.icon-exif:before {
  content: "\e8d8";
}

.icon-fli:before {
  content: "\e8d9";
}

.icon-fon:before {
  content: "\e8da";
}

.icon-fpx:before {
  content: "\e8db";
}

.icon-font:before {
  content: "\e8dc";
}

.icon-for:before {
  content: "\e8dd";
}

.icon-gif:before {
  content: "\e8de";
}

.icon-hdri:before {
  content: "\e8df";
}

.icon-flv:before {
  content: "\e8e0";
}

.icon-gz:before {
  content: "\e8e1";
}

.icon-hlp:before {
  content: "\e8e2";
}

.icon-html:before {
  content: "\e8e3";
}

.icon-int:before {
  content: "\e8e4";
}

.icon-htm:before {
  content: "\e8e5";
}

.icon-iso:before {
  content: "\e8e6";
}

.icon-lib:before {
  content: "\e8e7";
}

.icon-jpeg:before {
  content: "\e8e8";
}

.icon-flc:before {
  content: "\e8e9";
}

.icon-jpg:before {
  content: "\e8ea";
}

.icon-ksp:before {
  content: "\e8eb";
}

.icon-lic:before {
  content: "\e8ec";
}

.icon-mv:before {
  content: "\e8ed";
}

.icon-lst:before {
  content: "\e8ee";
}

.icon-mac:before {
  content: "\e8ef";
}

.icon-md:before {
  content: "\e8f0";
}

.icon-mhtml:before {
  content: "\e8f1";
}

.icon-map:before {
  content: "\e8f2";
}

.icon-mdf:before {
  content: "\e8f3";
}

.icon-mht:before {
  content: "\e8f4";
}

.icon-midi:before {
  content: "\e8f5";
}

.icon-mid:before {
  content: "\e8f6";
}

.icon-mkv:before {
  content: "\e8f7";
}

.icon-mov:before {
  content: "\e8f8";
}

.icon-mod:before {
  content: "\e8f9";
}

.icon-mmf:before {
  content: "\e8fa";
}

.icon-mp:before {
  content: "\e8fb";
}

.icon-mpa:before {
  content: "\e8fc";
}

.icon-mpeg:before {
  content: "\e8fd";
}

.icon-mp1:before {
  content: "\e8fe";
}

.icon-mpe:before {
  content: "\e8ff";
}

.icon-mppro:before {
  content: "\e900";
}

.icon-mpeg1:before {
  content: "\e901";
}

.icon-mpeg-:before {
  content: "\e902";
}

.icon-mpeg2:before {
  content: "\e903";
}

.icon-mpeg-1:before {
  content: "\e904";
}

.icon-mpg:before {
  content: "\e905";
}

.icon-mpeg3:before {
  content: "\e906";
}

.icon-mpeg-2:before {
  content: "\e907";
}

.icon-mts:before {
  content: "\e908";
}

.icon-msg:before {
  content: "\e909";
}

.icon-mux:before {
  content: "\e90a";
}

.icon-obj:before {
  content: "\e90b";
}

.icon-otf:before {
  content: "\e90c";
}

.icon-ogg:before {
  content: "\e90d";
}

.icon-pas:before {
  content: "\e90e";
}

.icon-pdf:before {
  content: "\e90f";
}

.icon-pcd:before {
  content: "\e910";
}

.icon-ppt:before {
  content: "\e911";
}

.icon-png:before {
  content: "\e912";
}

.icon-psd:before {
  content: "\e913";
}

.icon-pic:before {
  content: "\e914";
}

.icon-proe:before {
  content: "\e915";
}

.icon-prt:before {
  content: "\e916";
}

.icon-ra:before {
  content: "\e917";
}

.icon-pcx:before {
  content: "\e918";
}

.icon-qsv:before {
  content: "\e919";
}

.icon-quicktime:before {
  content: "\e91a";
}

.icon-navi:before {
  content: "\e91b";
}

.icon-raw:before {
  content: "\e91c";
}

.icon-ram:before {
  content: "\e91d";
}

.icon-rar:before {
  content: "\e91e";
}

.icon-rmvb:before {
  content: "\e91f";
}

.icon-rtf:before {
  content: "\e920";
}

.icon-rm:before {
  content: "\e921";
}

.icon-sacd:before {
  content: "\e922";
}

.icon-realaudio:before {
  content: "\e923";
}

.icon-s:before {
  content: "\e924";
}

.icon-stp:before {
  content: "\e925";
}

.icon-sch:before {
  content: "\e926";
}

.icon-svg:before {
  content: "\e927";
}

.icon-svcd:before {
  content: "\e928";
}

.icon-swf:before {
  content: "\e929";
}

.icon-sys:before {
  content: "\e92a";
}

.icon-tga:before {
  content: "\e92b";
}

.icon-tiff:before {
  content: "\e92c";
}

.icon-tmp:before {
  content: "\e92d";
}

.icon-ttc:before {
  content: "\e92e";
}

.icon-ufo:before {
  content: "\e92f";
}

.icon-vob:before {
  content: "\e930";
}

.icon-ttf:before {
  content: "\e931";
}

.icon-vcd:before {
  content: "\e932";
}

.icon-voc:before {
  content: "\e933";
}

.icon-vqf:before {
  content: "\e934";
}

.icon-wdl:before {
  content: "\e935";
}

.icon-wki:before {
  content: "\e936";
}

.icon-wmv:before {
  content: "\e937";
}

.icon-webm:before {
  content: "\e938";
}

.icon-wmf:before {
  content: "\e939";
}

.icon-wma:before {
  content: "\e93a";
}

.icon-txt:before {
  content: "\e93b";
}

.icon-woff:before {
  content: "\e93c";
}

.icon-x_t:before {
  content: "\e93d";
}

.icon-wmvhd:before {
  content: "\e93e";
}

.icon-wps:before {
  content: "\e93f";
}

.icon-woff1:before {
  content: "\e940";
}

.icon-wav:before {
  content: "\e941";
}

.icon-wpt:before {
  content: "\e942";
}

.icon-xls:before {
  content: "\e943";
}

.icon-xlsx:before {
  content: "\e944";
}

.icon-xlsm:before {
  content: "\e945";
}

.icon-xltx:before {
  content: "\e946";
}

.icon-xlt:before {
  content: "\e947";
}

.icon-xvid:before {
  content: "\e948";
}

.icon-xml:before {
  content: "\e949";
}

.icon-xltm:before {
  content: "\e94a";
}

.icon-z:before {
  content: "\e94b";
}

.icon-zip:before {
  content: "\e94c";
}

.icon-xv:before {
  content: "\e94d";
}

.icon-py:before {
  content: "\e9c3";
}

.icon-sh:before {
  content: "\e9c4";
}

.icon-env:before {
  content: "\e9f7";
}

.icon-rp:before {
  content: "\ea57";
}

.icon-xmind:before {
  content: "\ea58";
}

.icon-lua:before {
  content: "\ec3a";
}

.icon-aly:before {
  content: "\ec3b";
}

.icon-js:before {
  content: "\ec3c";
}

.icon-css:before {
  content: "\ec3d";
}

.icon-cpp:before {
  content: "\ecd8";
}

.icon-apk:before {
  content: "\ecd9";
}

.icon-pptx:before {
  content: "\ecda";
}

.icon-json:before {
  content: "\ecdb";
}

